body {
    background-color:rgb(255, 245, 203);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 8%;
    padding-right: 8%;
    padding-block-end: 30px;
}

h1, h2{
    color: rgb(119, 8, 163);
    text-align: center;
}

p {
    font-size:larger;
    text-align: justify;
}

li{
    font-size: large;
    padding: 6px;
}

img {
    border-radius: 1.5cap;
    width: 400px;
}

table, th{
    background-color: rgb(245, 218, 255);
    border: 1px solid #000;
    margin-bottom: 30px;
}

a {
    font-size: larger;
    color: rgb(119, 8, 163);
}

a:hover {
    color: orange;
}

button {
    background-color: rgb(119, 8, 163);
    color: orange;
    font-size: larger;
    border-radius: 0.5cap;
}
div {
    text-align: center;
}
